<h1>{{ 'HOME.TITLE' | translate }}</h1>
    <br>
    <p>{{ 'HOME.PARAGRAPH01' | translate }}    
    <br>
    <br>
    {{ 'HOME.PARAGRAPH02' | translate }}  
    <br>
    <br>
    {{ 'HOME.PARAGRAPH03' | translate }}  
    <br>
    <br>
    {{ 'HOME.PARAGRAPH04' | translate }}      
    <br>
    <br>
    {{ 'HOME.PARAGRAPH05' | translate }}      
    <br>
    <br>
    {{ 'HOME.PARAGRAPH06' | translate }}      
    <br>
    <br>
    {{ 'HOME.PARAGRAPH07' | translate }}      
    <br>
    <br>
    <br>
    {{ 'HOME.PARAGRAPH08' | translate }}  </p>