.Header {
    margin-top: 50px;
    margin-left: 50px;
    max-width: 80%;
}

.mat-table {
    justify-content: left;
    width: 90%;
  } 

.mat-paginator {
    display: flex;
    justify-content: left;
  } 
