<div class="Site">
  <div class="Icons">
    <span>
      <button mat-button [matMenuTriggerFor]="menu">{{ 'NAVIGATION.LANGUAGE' | translate }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="OnLanguageChange('de')">Deutsch</button>
        <button mat-menu-item (click)="OnLanguageChange('it')">Italiano</button>
        <button mat-menu-item (click)="OnLanguageChange('fr')">Francais</button>
      </mat-menu>      
      </span>
    <span><a href="http://147.88.61.66/odz/home"><img src="assets/ODZ_Logo.png" alt="Logo ODZ"></a></span>
    <span><a href="https://www.hslu.ch/de-ch/musik/"><img src="assets/HSLU_Logo.png"
          alt="Logo Hochschule Luzern - Musik"></a></span>
    <span><a
        href="https://www.accordeos.ch/news-archiv-orgelkultur/orgeldokumentationszentrum-der-hochschule-luzern.html"><img
          src="assets/Accordeos_Logo.jpg"
          alt="Logo Accordeos Stiftung. Dieses Projekt ist unterstützt von der Stiftung Accordeos Meggen"></a></span>
  </div>
  <div class="ContentArea">
    <section class="Background">
      <div class="Bar"></div>
      <div class="Bg-Img">
        <span i18n><img src="assets/background_main.png" alt="Hintergrund"></span>
      </div>
    </section>
    <section class="NavBar">
      <div class="Links">
        <span><a routerLink="/home">{{ 'NAVIGATION.HOME' | translate }}</a></span>
        <span><a routerLink="/search">{{ 'NAVIGATION.SEARCH' | translate }}</a></span>
        <span><a routerLink="/orgelbauer-search">{{ 'NAVIGATION.PERSONSEARCH' | translate }}</a></span>
        <span><a routerLink="/map">{{ 'NAVIGATION.MAPSEARCH' | translate }}</a></span>
        <span><a routerLink="/search-combined">{{ 'NAVIGATION.COMBINEDSEARCH' | translate }}</a></span>
      </div>
    </section>
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></label>
    <ul class="dropdown">
      <li><a routerLink="/home">{{ 'NAVIGATION.HOME' | translate }}</a></li>
      <li><a routerLink="/search">{{ 'NAVIGATION.SEARCH' | translate }}</a></li>
      <li><a routerLink="/orgelbauer-search">{{ 'NAVIGATION.PERSONSEARCH' | translate }}</a></li>
      <li><a routerLink="/map">{{ 'NAVIGATION.MAPSEARCH' | translate }}</a></li>
      <li><a routerLink="/search-combined">{{ 'NAVIGATION.COMBINEDSEARCH' | translate }}</a></li>
    </ul>
    <router-outlet></router-outlet>